.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}

.top{
     display:flex;
     justify-content: space-around;
 }
.vars {
      width:100%;
      display: flex;
    list-style: none;
      margin-bottom: 5px;
      justify-content: space-around;
  }