.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}

.top{
     display:flex;
     justify-content: space-around;
 }
.vars-form li{
    width:80%;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}